JWT_SECRET=your_jwt_secret_here
PORT = 3000
refreshExpiresInSeconds=86400
bearerExpiresInSeconds=600
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=movies
DB_USER=your_db_username
DB_PASSWORD=your_db_password